<ul>
  <li><p>Bill Gurley: <a href="scraping/Bill-Gurley.pdf">Blogs</a>.</p></li>
  <li><p>Eric Lefkofsky: <a href="/scraping/Eric-Lefkofsky-Blogs-Compilation.pdf">Blogs</a>.</p></li>
  <li><p>Marc Suster: <a href="/scraping/Mark-Suster-Blogs-Compilation.pdf">Blogs</a>.</p></li>
  <li><p>Naval Ravikant: <a href="scraping/Naval-Ravikant-Blogs-Compilation.pdf">Blogs</a>.</p></li>
  <li><p>Reid Hoffman: <a href="scraping/Reid-Hoffman-Blog-Compilation.pdf">Blogs</a>.</p></li>
  <li><p>Tom Glocer: <a href="scraping/Tom-GLocer-Blog-Compilation.pdf">Blogs</a>.</p></li>
  <li><p>Vinod Khosla: <a href="scraping/Vinod-Khosla-Blog-Compilation.pdf">Blogs</a>.</p></li>
  
  
</ul> 